MODE=DEV # TEST or DEV

# PostgreSQL
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=notes_db

# For tests:
TEST_DB_HOST=localhost
TEST_DB_PORT=5432
TEST_DB_USER=postgres
TEST_DB_PASS=postgres
TEST_DB_NAME=test_db

# Если у вас Linux/MacOS, можете открыть терминал и запустить эту команду:
# openssl rand -base64 32
SECRET_KEY=

ALGORITHM=HS256
COOKIE_KEY=notes_access_token

SPELLER_URL=https://speller.yandex.net/services/spellservice.json/checkText